<%= form_with(model: month, local: true) do |form| %>
  <% if month.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(month.errors.count, "error") %> prohibited this month from being saved:</h2>

      <ul>
      <% month.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :month %>
    <%= form.text_field :month, id: :month_month %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :month_year %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :month_status %>
  </div>

  <div class="field">
    <%= form.label :month_year %>
    <%= form.text_field :month_year, id: :month_month_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
