<p id="notice"><%= notice %></p>

<h1>Months</h1>

<table>
  <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Status</th>
      <th>Month year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @months.each do |month| %>
      <tr>
        <td><%= month.month %></td>
        <td><%= month.year %></td>
        <td><%= month.status %></td>
        <td><%= month.month_year %></td>
        <td><%= link_to 'Show', month %></td>
        <td><%= link_to 'Edit', edit_month_path(month) %></td>
        <td><%= link_to 'Destroy', month, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Month', new_month_path %>
