<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @month.month %>
</p>

<p>
  <strong>Year:</strong>
  <%= @month.year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @month.status %>
</p>

<p>
  <strong>Month year:</strong>
  <%= @month.month_year %>
</p>

<%= link_to 'Edit', edit_month_path(@month) %> |
<%= link_to 'Back', months_path %>
