<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Editar conta</h3>
</div>
<div class="col-md-12 pull-left">
<%= link_to "Voltar", :back %>
</div>



  <div class="form-scheduler">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="col-md-8">
    <div class="form-group">
        <%= f.label :name, "Nome" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :rg, "RG" %>
        <%= f.text_field :rg, autocomplete: "rg", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :cpf, "CPF" %>
        <%= f.text_field :cpf, autocomplete: "cpf", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :date_of_birth, "Data de Nascimento" %>
        <%= f.date_field :date_of_birth, autocomplete: "Data de Nascimento", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :address, "Endereço" %>
        <%= f.text_field :address, autocomplete: "Endereço", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :number, "Número" %>
        <%= f.text_field :number, autocomplete: "Número", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :neighborhood, "Bairro" %>
        <%= f.text_field :neighborhood, autocomplete: "Bairro", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :city, "Cidade" %>
        <%= f.text_field :city, autocomplete: "Cidade", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :state, "Estado" %>
        <%= f.text_field :state, autocomplete: "Estado", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :zipcode, "CEP" %>
        <%= f.text_field :zipcode, autocomplete: "CEP", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :phone, "Telefone" %>
        <%= f.text_field :phone, autocomplete: "Telefone", :class => "form-control" %>
        
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        <%= f.label :celphone, "Celular" %>
        <%= f.text_field :celphone, autocomplete: "Celular", :class => "form-control" %>
        
    </div>
  </div>
<div class="col-md-8">
  <div class="form-group">
    <%= f.label :email, 'E-mail'  %>
    <%= f.email_field :email, autocomplete: "email" , :class => "form-control" %>
  </div>
</div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div class="col-md-8">
  <div class="form-group">
    <%= f.label :password %> <br><i>(deixe em branco caso não deseje alterar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password"  , :class => "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> mínimo de caracteres</em>
    <% end %>
  </div>
</div>

<div class="col-md-8">
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password"  , :class => "form-control" %>
  </div>
</div>

<div class="col-md-8">
  <div class="form-group">
    <%= f.label :current_password %><br> <i>(precisamos da sua senha atual para confirmar as mudanças)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password"  , :class => "form-control" %>
  </div>
</div>

<div class="col-md-8">
  <div class="form-group">
    <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
  </div>
</div>
<% end %>


