<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
        <div class="logo-w">
            <img alt="" src="http://locusvivet.com.br/agendamento/app/_resources/images/login/logo.png" style="width: 100%;">
                </div>
            <h4 class="auth-header">
                    Cadastrar
                </h4>
            <div id="form-login">
                <div style="text-align: center;background: #e76e25;color: #fff;">
                    <% flash.each do |name, msg| %>
                    <% if msg.class == Array %>
                    <% msg.each do |message| %>
                    <%= content_tag :div, message, :id => "flash_#{name}" %>
                    <% end %>
                    <% else %>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                    <% end %>
                    <% end %>
                </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                    <%= f.label :name, "Nome" %>
                    <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :rg, "RG" %>
                    <%= f.text_field :rg, autocomplete: "rg", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :cpf, "CPF" %>
                    <%= f.text_field :cpf, autocomplete: "cpf", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :date_of_birth, "Data de Nascimento" %>
                    <%= f.date_field :date_of_birth, autocomplete: "Data de Nascimento", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :address, "Endereço" %>
                    <%= f.text_field :address, autocomplete: "Endereço", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :number, "Número" %>
                    <%= f.text_field :number, autocomplete: "Número", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :neighborhood, "Bairro" %>
                    <%= f.text_field :neighborhood, autocomplete: "Bairro", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :city, "Cidade" %>
                    <%= f.text_field :city, autocomplete: "Cidade", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :state, "Estado" %>
                    <%= f.select(:state, options_for_select([
                        ['Acre'],
                        ['Alagoas'],
                        ['Amapá'],
                        ['Amazonas'],
                        ['Bahia'],
                        ['Ceará'],
                        ['Distrito Federal'],
                        ['Espírito Santo'],
                        ['Goiás'],
                        ['Maranhão'],
                        ['Mato Grosso'],
                        ['Mato Grosso do Sul'],
                        ['Minas Gerais'],
                        ['Pará'],
                        ['Paraíba'],
                        ['Paraná'],
                        ['Pernambuco'],
                        ['Piauí'],
                        ['Rio de Janeiro'],
                        ['Rio Grande do Norte'],
                        ['Rio Grande do Sul'],
                        ['Rondônia'],
                        ['Roraima'],
                        ['Santa Catarina'],
                        ['São Paulo'],
                        ['Sergipe'],
                        ['Tocantins']
                        ]),  {:prompt => "Selecione..."}, {:class => 'form-control'} )%>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :zipcode, "CEP" %>
                    <%= f.text_field :zipcode, autocomplete: "CEP", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :phone, "Telefone" %>
                    <%= f.text_field :phone, autocomplete: "Telefone", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :celphone, "Celular" %>
                    <%= f.text_field :celphone, autocomplete: "Celular", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :email, "E-mail" %>
                    <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :password, "Senha"  %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password" , :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation, "Confirmar senha"  %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" , :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <div class="buttons-w text-center">
                    <%= f.submit "Cadastrar", :class => "btn btn-primary btn-block text-uppercase"  %>
                </div>
                <% end %>
            </div>
            <div style="text-align: center;">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>