<%= form_with(model: scheduler, local: true) do |form| %>
  <% if scheduler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scheduler.errors.count, "erro") %> foi identificado e este agendamento não pode ser salvo:</h2>
      <ul>
        <% scheduler.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="errorMessages"></div>
  <% if @scheduler.persisted?  %>
    <div class="form-group">
      <%= form.label :confirm, 'Confirmado?' %>
      <% if @scheduler.confirm? %>
        <input type="text" value="Sim" class="form-control" disabled>
      <% else %>
        <input type="text" value="Não" class="form-control" disabled>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :repeat, 'Tem repetição?' %>
      <% if @scheduler.repeat? %>
        <input type="text" value="Sim" class="form-control" disabled>
      <% else %>
        <input type="text" value="Não" class="form-control" disabled>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :date_scheduler_start %>
      <input type="text" value="<%= I18n.l(@scheduler.date_scheduler_start, :format => :long, :locale => 'pt-BR') %>" class="form-control" disabled>
    </div>
    <div class="form-group">
      <%= form.label :time_scheduler_start %>
      <input type="text" value="<%=@scheduler.time_scheduler_start%>h" class="form-control" disabled>
    </div>
    <div class="form-group">
      <%= form.label :reserved, "Apenas reserva?" %>
      <% if @scheduler.reserved? %>
        <input type="text" value="Sim" class="form-control" disabled>
      <% else %>
        <input type="text" value="Não" class="form-control" disabled>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :scheduler_token %>
      <input type="text" value="<%=@scheduler.scheduler_token%>" class="form-control" disabled>
    </div>
    <div class="form-group">
      <%= form.label :repeat_id %>
      <input type="text" value="<%=@scheduler.repeat_id%>" class="form-control" disabled>
    </div>
  <% end %>
  <div class="form-scheduler">
    <% if @scheduler.persisted?  %>
      <% if @scheduler.confirm == false  %>
        <div class="col-md-12">
          <div class="form-group">
            <%= form.label :confirm , "Confirmar agendamentos deste mês?" if @scheduler.persisted?  %>
            <%= form.select(:confirm, options_for_select([['Sim', true],['Não', false]]),  {:prompt => "Selecione..."}, {:class => 'form-control'} ) %>
          </div>
        </div>
        <div class="col-md-12">
          <div class="actions">
            <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <% unless @scheduler.persisted?  %>
    <% if current_user.admin?  %>
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :user_id, "Usuário"  %>
          <%= form.collection_select(:user_id, User.all, :id, :name, {:prompt => "Selecione..."}, {:class=>'form-control form-group', :required => true})%>
        </div>
      </div>
    <% end %>
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :room_id, "Sala" %>
        <%= form.collection_select(:room_id, Room.all, :id, :name, {:prompt => "Selecione...", :selected => params[:room]}, {:class=>'form-control form-group'})%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :date_scheduler_start , "Data do agendamento" %>
        <!--<%= form.text_field :date_scheduler_start, id: :scheduler_date_scheduler_start, :class => "form-control"  %>-->
        <% today = Date.today  %>
        <% mes_inicio = Month.where(status: true, year_id: 1).first
      if mes_inicio.number < 10
        numero_mes_inicio = '0' + mes_inicio.number.to_s 
      else
        numero_mes_inicio = mes_inicio.number.to_s
      end
    %>
        <% 

      #if current_user.profile_id == 1
      #  mes_final = Month.where(status: true, year_id: 1).last
      #else
      if current_user.profile_id == 1
        mes_final = Month.where(status: true, year_id: 1).last
      else
        mes_final = Month.where(all_user: true, year_id: 1).last
      end
      #end

      
      if mes_final.number < 10
        numero_mes_final = '0' + mes_final.number.to_s 
      else
        numero_mes_final = mes_final.number.to_s
      end

      ultimo_dia_mes = Date.civil(mes_final.year.name, numero_mes_final.to_i, -1)
      numero_mes_final_repeat = numero_mes_final.to_i + 1
      ultimo_dia_mes_repeat = Date.civil(mes_final.year.name,numero_mes_final_repeat.to_i , -1)
      if params[:day]
          day_select = params[:day].to_date
      else
          day_select = today
      end
      
      

      
    %>
        <input id="scheduler_date_scheduler_start" class="form-control" type="date" name="scheduler[date_scheduler_start]" min="<%= today %>" max="<%= ultimo_dia_mes %>" value="<%=day_select%>" oninvalid="setCustomValidity('A data deve ser entre <%= I18n.l(today, :format => :short, :locale => 'pt-BR') %> e <%= I18n.l(ultimo_dia_mes, :format => :short, :locale => 'pt-BR') %>, o mês <%= I18n.l(day_select, format: '%B') %> ainda não está disponível para agendamentos avulsos.')" required>
        <% if current_user.profile_id == 1 %>
          <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
          <script type="text/javascript">
            $(document).ready(function() {
                $('#message-free').hide();
                $('#repeat_select').on('change', function(e) {
                    var optionSelected = $("option:selected", this);
                    var valueSelected = this.value;
                    if (valueSelected == "true") {
                        $('#scheduler_date_scheduler_start').attr({
                            "max": '<%= ultimo_dia_mes_repeat %>'
                        });
                        $('#message-free').hide();
                    } else {
                        $('#scheduler_date_scheduler_start').attr({
                            "max": '<%= ultimo_dia_mes %>', // substitute your own
                        });
                        $('#message-free').show();
            
                    }
                });
            });
          </script>
        <% end %>
        <% 

ultimo_mes_liberado_fixo = Month.where(status: true, year_id: 1).last
if current_user.profile_id == 1 && ultimo_mes_liberado_fixo.all_user == false 

%>
          <!--<div id="message-free" style="display: none;">
      <div class="alert alert-info" style="width: 100%;margin-top: 30px;">
        <p>Agendamentos avulsos não estão liberados para o mês de <%= ultimo_mes_liberado_fixo.month %></p>
      </div>
    </div>-->
        <% end %>
        <!--<script type="text/javascript">

        function changeFunc() {
          var repeat_select = document.getElementById("repeat_select");
          var selectedValue = repeat_select.options[repeat_select.selectedIndex].value;
          
          if (selectedValue == true) {
            var input = document.getElementById("scheduler_date_scheduler_start");
            input.setAttribute("max", "<%= ultimo_dia_mes_repeat %>");
          }
          else{
            var input = document.getElementById("scheduler_date_scheduler_start");
            input.setAttribute("max", "<%= ultimo_dia_mes %>");
          }
         }
    </script>-->
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :time_scheduler_start, "Horário do agendamento"  %>
        <%= form.select(:time_scheduler_start, options_for_select([['7h', 7],['8h', 8],['9h', 9],['10h', 10],['11h', 11],['12h', 12],['13h', 13],['14h', 14],['15h', 15],['16h', 16],['17h', 17],['18h', 18],['19h', 19],['20h', 20],['21h', 21]], :selected => params[:hour]), {:prompt => "Selecione..."}, {:class => 'form-control'} )%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <%= form.label :repeat, "Repetir semanalmente" %>
        <select class="form-control" name="scheduler[repeat]" id="repeat_select" onchange="changeFunc();" required>
          <option value="" selected disabled>Selecione</option>
          <option value="false">Não</option>
          <option value="true">Sim</option>
        </select>
        <% #= form.select(:repeat, options_for_select([['Não', false], ['Sim', true]]), {}, {:class => 'form-control'})%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="actions">
        <button class="btn btn-primary btn-lg" type="submit" id="submit-btn">Salvar</button>
      </div>
    </div>
  </div>
<% end %>
<script>
  var createAllErrors = function() {
      var form = $(this),
          errorList = $("#errorMessages", form);
  
      var showAllErrorMessages = function() {
          errorList.empty();
  
          // Find all invalid fields within the form.
          var invalidFields = form.find(":invalid").each(function(index, node) {
  
              // Find the field's corresponding label
              var label = $("label[for=" + node.id + "] "),
                  // Opera incorrectly does not fill the validationMessage property.
                  message = node.validationMessage || 'Invalid value.';
  
              errorList
                  .show()
                  //.append( "<p class='alert alert-warning' style='width: 100%;'><strong>" + label.html() + "</strong>: " + message + "</p>" );
                  .append("<p class='alert alert-warning' style='width: 100%;'><strong>" + label.html() + "</strong>: A data deve ser entre <%= I18n.l(today, :format => :short, :locale => 'pt-BR') %> e <%= I18n.l(ultimo_dia_mes, :format => :short, :locale => 'pt-BR') %>, o mês <%= I18n.l(day_select, format: '%B') %> ainda não está disponível para agendamentos avulsos.</p>");
  
  
          });
      };
  
      // Support Safari
      form.on("submit", function(event) {
          if (this.checkValidity && !this.checkValidity()) {
              $(this).find(":invalid").first().focus();
              event.preventDefault();
          }
      });
  
      $("input[type=submit], button:not([type=button])", form)
          .on("click", showAllErrorMessages);
  
      $("input#scheduler_date_scheduler_start", form).on("keypress", function(event) {
          var type = $(this).attr("type");
          if (/date|email|month|number|search|tel|text|time|url|week/.test(type) &&
              event.keyCode == 13) {
              showAllErrorMessages();
          }
      });
  };
  
  $("form").each(createAllErrors);
</script>
<% end %>
