<style type="text/css">
	.btn-200{
    	width: 200px;
   }
</style>

<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Editar agendamento</h3>
</div>
<div class="col-md-12 pull-left">
    <%= link_to 'Voltar', schedulers_path %>
</div>

<%= form_with(model: @scheduler, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :status %>
    <input type="text" value="<%=@scheduler.status%>" class="form-control" disabled>
  </div>
  <div class="form-group">
    <%= form.label :date_scheduler_start %>
    <input type="text" value="<%= I18n.l(@scheduler.date_scheduler_start, :format => :long, :locale => 'pt-BR') %>" class="form-control" disabled>
  </div>
  <div class="form-group">
    <%= form.label :time_scheduler_start %>
    <input type="text" value="<%=@scheduler.time_scheduler_start%>h" class="form-control" disabled>
  </div>

  <div class="form-group">
    <%= form.label :room_id %>
    <input type="text" value="<%=@scheduler.room.name%>" class="form-control" disabled>
  </div>
  <div class="form-group">
    <%= form.label :reserved, "Apenas reserva?" %>
    <% if @scheduler.reserved? %>
    <input type="text" value="Sim" class="form-control" disabled>
    <% else %>
    <input type="text" value="Não" class="form-control" disabled>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :repeat %>
    <% if @scheduler.repeat? %>
    <input type="text" value="Sim" class="form-control" disabled>
    <% else %>
    <input type="text" value="Não" class="form-control" disabled>
    <% end %>
  </div>


  <div class="form-group">
    <%= form.label :created_at %>
    <input type="text" value="<%= I18n.l(@scheduler.created_at, :format => :long, :locale => 'pt-BR') %>" class="form-control" disabled>
  </div>
  <div class="form-group">
    <%= form.label :updated_at %>
    <input type="text" value="<%= I18n.l(@scheduler.updated_at, :format => :long, :locale => 'pt-BR') %>" class="form-control" disabled>
  </div>
<% if @scheduler.persisted?  %>
  <% if @scheduler.confirm == false  %>

<div class="col-md-12">
  <div class="form-group">
    <%= form.label :confirm , "Confirmar agendamentos deste mês?" if @scheduler.persisted?  %>
    <%= form.select(:confirm, options_for_select([['Sim', true],['Não', false]]),  {:prompt => "Selecione..."}, {:class => 'form-control'} ) %>

</div>
</div>
<div class="col-md-12">

    <div class="actions">
      <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
    </div>
  </div>
</div>
<% end %>
<% end %>

<%
    now = Time.now + 24.hour
    hour_date = @scheduler.date_scheduler_start.to_s + ' ' + @scheduler.time_scheduler_start.to_s + ':00'
%>
<% if hour_date.to_time >= now && @scheduler.confirm? %>

<div class="row">
<div class="col-md-2" style="text-align: center;">

        <%= link_to "Apagar esse agendamento", scheduler_path(:id => @scheduler.id), :method => :delete , data: { confirm: 'Tem certeza?' }, class: "btn btn-danger btn-200"%>
</div>
</div>

<% if @scheduler.repeat? %>
<div class="row">

<div class="col-md-2" style="text-align: center;margin-top: 10px;">
        <%= link_to "Apagar todas repetições", scheduler_path(:id => @scheduler.id, :repeat_id => @scheduler.repeat_id), :method => :delete , data: { confirm: 'Tem certeza? Isso aparagá todas as repetições futuras' }, class: "btn btn-danger btn-200"%>
</div>
</div>
<% end %>
<% end %>



	
</div>
</div>


  <% end %>
