<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Novo agendamento</h3>
</div>
<div class="col-md-12 pull-left">
    <%= link_to 'Voltar', schedulers_path %>
</div>
<%= render 'form', scheduler: @scheduler %>


