<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @scheduler.status %>
</p>

<p>
  <strong>Date scheduler start:</strong>
  <%= @scheduler.date_scheduler_start %>
</p>

<p>
  <strong>Date scheduler end:</strong>
  <%= @scheduler.date_scheduler_end %>
</p>

<p>
  <strong>Time scheduler start:</strong>
  <%= @scheduler.time_scheduler_start %>
</p>


<p>
  <strong>Scheduler:</strong>
  <%= @scheduler.scheduler_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @scheduler.user.email %>
</p>

<p>
  <strong>Room:</strong>
  <%= @scheduler.room.name %>
</p>

<%= link_to 'Editar', edit_scheduler_path(@scheduler) %> |
<%= link_to 'Voltar', schedulers_path %>
