<% if notice %>
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p id="notice">
  <%= notice %>
  </p>
</div>
<% end %>
<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Notificações</h3>
</div>


<table class="dataTable no-footer" id="dataTable-firstdesc" role="grid" aria-describedby="dataTable-firstdesc_info" style="width: 1320px;">
    <thead>
        <tr class="bg-primary" role="row">
            <th>ID</th>
            <th>Descrição</th>
            <th>Enviada em</th>
        </tr>
    </thead>
    <tbody>
        <% @notifications.each do |notification| %>
        <tr role="row" class="odd">
          <td><%= notification.id %></td>
          <td><%= notification.desc %></td>
          <td><%= I18n.l(notification.created_at, :format => :long, :locale => 'pt-BR') %></td>
        </tr>
        <% end %>
    </tbody>
</table>
