<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :minimum_of_day %>
    <%= form.number_field :minimum_of_day, id: :setting_minimum_of_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
