<p id="notice"><%= notice %></p>

<p>
  <strong>Minimum of day:</strong>
  <%= @setting.minimum_of_day %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
