<div id="dataTable-firstdesc_wrapper" class="dataTables_wrapper no-footer">
    <table class="dataTable no-footer" id="dataTable-firstdesc" role="grid" aria-describedby="dataTable-firstdesc_info" style="width: 1055px;">
        <thead>
            <tr class="bg-primary" role="row">
                <th style="display: none; width: 0px;" class="sorting_desc" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: activate to sort column ascending">ID</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Ano: activate to sort column ascending" style="width: 43px;">Ano</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Mês: activate to sort column ascending" style="width: 60px;">Mês</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Dia: activate to sort column ascending" style="width: 39px;">Dia</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Sala: activate to sort column ascending" style="width: 54px;">Sala</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Horário de Inicio: activate to sort column ascending" style="width: 146px;">Horário de Inicio</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Horário Final: activate to sort column ascending" style="width: 118px;">Horário Final</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Duração: activate to sort column ascending" style="width: 81px;">Duração</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 81px;">Status</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 81px;">Confirmado?</th>
                <th class="sorting" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 81px;">Identificador</th>
                <th style="width: 81px;" colspan="2">Ações</th>
            </tr>
        </thead>
        <tbody>
        <% Scheduler.where(user_id: current_user.id).each do |scheduler| %>
            <tr role="row" class="odd">
                <td style="display: none;" class="sorting_1"><%= scheduler.id %></td>
                <td><%= scheduler.date_scheduler_start.strftime("%Y")  %></td>
                <td><%= scheduler.date_scheduler_start.strftime("%m")  %></td>
                <td><%= scheduler.date_scheduler_start.strftime("%d") %></td>
                <td><%= scheduler.room.name %></td>
                <td><%= scheduler.time_scheduler_start %>h</td>
                <td><%= scheduler.time_scheduler_start + 1 %>h</td>
                <td>1h</td>
                <td><%= scheduler.status %></td>

                <% if scheduler.confirm? %>
                <td>Sim</td>
                <% else %>
                <td>Não</td>
                <% end %>
                <td><%= scheduler.scheduler_token %></td>

                <%# if scheduler.status == 'Agendamento realizado' %>

                <td><%= link_to 'Editar', edit_scheduler_path(scheduler) %></td>
                <td><%= link_to 'Cancelar', scheduler, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
                    
                <%# else %>

                <!--<td></td>
                <td><%= link_to 'Cancelar', scheduler, method: :delete, data: { confirm: 'Tem certeza?' } %></td>-->
                <%#end%>
            </tr>
        <% end %>
        </tbody>
    </table>
    
</div>