<div id="content">
  <style type="text/css">
    .only-print {
        display: none;
    }
    
    @media print {
        .no-print {
            display: none;
        }
    
        .print {
            display: block;
        }
    
        .only-print {
            display: block;
        }
    
        #page-title {
            display: none;
        }
    
        #user_modal {
            display: none;
        }
    
        .form-control {
            display: block;
            width: 100%;
            border-radius: 0px;
            font-size: 15px;
            color: #000;
            background-color: transparent;
            background-image: none;
            background-clip: padding-box;
            border: none;
            border-radius: 0;
            font-weight: bold;
            text-align: right;
        }
    }
  </style>
  <div class="col-md-12 pull-left no-print">
    <h3 class="mb20 mt20">Extração de relatórios</h3>
  </div>
  <form action="/pages/reports/" class="no-print">
    <div class="container">
      <!--<div class="col-md-3">
            <div class="form-group">
                <label>Data inicial</label>
                <input id="report_date_scheduler_start" class="form-control" type="date" name="report_date_scheduler_start" min="" max="" value="">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Data final</label>
                <input id="report_date_scheduler_end" class="form-control" type="date" name="report_date_scheduler_end" min="" max="" value="">
            </div>
        </div>-->
      <div class="col-md-3">
        <div class="form-group">
          <label>Usuário</label>
          <select class="form-control" name="user" id="user">
            <option value="" selected disabled>-- Selecione --</option>
            <% User.all.each do | user | %>
              <option value="<%= user.id %>">
                <%= user.name %>
              </option>
            <% end %>
          </select>
        </div>
      </div>
      <!--<div class="col-md-3">
            <div class="form-group">
                <label>Sala</label>
                <select class="form-control" name="room" id="room">
                    <option value="" selected disabled>-- Selecione --</option>
                    <% Room.all.each do | room | %>
                    <option value="<%= room.id %>">
                        <%= room.name %>
                    </option>
                    <% end %>
                </select>
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                <label>Confirmado?</label>
                <select class="form-control" name="confirm" id="confirm">
                    <option value="" selected disabled>-- Selecione --</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>-->
      <div class="col-md-3">
        <div class="form-group">
          <button type="submit" class="btn btn-md btn-primary" style="margin-top: 35px;width: 100%;border-radius: 0px;border-radius: 0;">Buscar</button>
        </div>
      </div>
    </div>
  </form>
  <div class="only-print col-md-12">
    <img alt="" src="http://locusvivet.com.br/agendamento/app/_resources/images/login/logo.png" style="width: 100%;border-radius: 0px;">
  </div>
  <div class="no-print col-md-2 pull-right">
    <button onclick="window.print();" class="btn btn-primary print " style="margin-bottom: 20px;width: 100%;border-radius: 0px;"><i class="fa fa-print"></i> Imprimir</button>
  </div>
  <div id="dataTable-firstdesc_wrapper" class="dataTables_wrapper no-footer">
    <table class="table no-footer table-striped" id="dataTable-firstdesc" role="grid" aria-describedby="dataTable-firstdesc_info" style="text-align: center;width: 100%">
      <thead>
        <tr class="bg-primary" role="row">
          <!--<th style="width: 43px;" tabindex="0" aria-controls="dataTable-firstdesc" rowspan="1" colspan="1" aria-sort="descending" aria-label="ID" style="text-align: left;">ID</th>-->
          <th rowspan="1" colspan="1" aria-label="Criado em" style="text-align: center;width: 150px;">Criado em</th>
          <!--<th rowspan="1" colspan="1" aria-label="Atualizado em" style="text-align: center;">Atualizado em</th>-->
          <th rowspan="1" colspan="1" aria-label="Cliente" style="text-align: center;width: 200px;">Cliente</th>
          <th rowspan="1" colspan="1" aria-label="Sala" style="text-align: center;">Sala</th>
          <th rowspan="1" colspan="1" aria-label="Ano" style="text-align: center;">Data</th>
          <th rowspan="1" colspan="1" aria-label="Horário de Início" style="text-align: center;">Início</th>
          <th rowspan="1" colspan="1" aria-label="Horário de Término" style="text-align: center;">Término</th>
          <th rowspan="1" colspan="1" aria-label="Fixo/Avulso" style="text-align: center;">Fixo/Avulso</th>
          <th rowspan="1" colspan="1" aria-label="Dia da semana" style="text-align: center;">Dia da semana</th>
          <th rowspan="1" colspan="1" aria-label="Valor unitário" style="text-align: right;">Valor unitário</th>
        </tr>
      </thead>
      <tbody>
        <%
report_date_scheduler_start     = params[:report_date_scheduler_start]
report_date_scheduler_end       = params[:report_date_scheduler_end]
user                            = params[:user]
room                            = params[:room]
%>
        <% 
    today = Date.today
    next_month = today.at_beginning_of_month.next_month.strftime("%m")

      ultimo_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, next_month.to_i, -1)
      primeiro_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, next_month.to_i, 1)
      primeiro_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, today.strftime("%m").to_i, 1)
      ultimo_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, today.strftime("%m").to_i, -1)

      count = 0
      total = 0
      subtotal = 0
      subtotal_fixos_current_month = 0
      subtotal_avulsos_current_month = 0
      subtotal_fixos_prev_month = 0
      subtotal_avulsos_prev_month = 0
    %>
        <% todos_com_repeticao = Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_proximo_mes, confirm: true, repeat: true).order(date_scheduler_start: :asc, time_scheduler_start: :asc).all %>
        <% todos_sem_repeticao = Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, confirm: true, repeat: false).order(date_scheduler_start: :asc, time_scheduler_start: :asc).all %>
        <% todos_mes_atual = todos_com_repeticao + todos_sem_repeticao %>
        <% (todos_mes_atual).each do |scheduler| %>
          <% count += 1%>
          <tr role="row" class="odd">
            <!--<td style="text-align: left;">
                            <%= count %>
                        </td>-->
            <td style="text-align: center;">
              <%= I18n.l(scheduler.created_at, format: :abrev) %>
            </td>
            <!--<td style="text-align: center;">
                            <%= I18n.l(scheduler.updated_at, format: :short) %>
                        </td>-->
            <td style="text-align: center;">
              <%= scheduler.user.name %>
            </td>
            <td style="text-align: center;">
              <%= scheduler.room.name %>
            </td>
            <td style="text-align: center;">
              <%= scheduler.date_scheduler_start.strftime("%d") + '/' + scheduler.date_scheduler_start.strftime("%m")+ '/' + scheduler.date_scheduler_start.strftime("%Y")  %>
            </td>
            <td style="text-align: center;">
              <%= scheduler.time_scheduler_start %>h</td>
            <td style="text-align: center;">
              <%= scheduler.time_scheduler_start.to_i + 1 %>h</td>
            <td style="text-align: center;">
              <% if scheduler.repeat == true %>
                Fixo
              <% else %>
                Avulso
              <% end %>
            </td>
            <td style="text-align: center;">
              <%= I18n.l(scheduler.date_scheduler_start, format: '%A') %>
            </td>
            <%
                  first_day = Date.civil(scheduler.date_scheduler_start.strftime("%Y").to_i, scheduler.date_scheduler_start.strftime("%m").to_i, 1)
                  last_day = Date.civil(scheduler.date_scheduler_start.strftime("%Y").to_i, scheduler.date_scheduler_start.strftime("%m").to_i, -1)

                 scheduler_current_month_count = Scheduler.where(user_id: user, confirm: true,date_scheduler_start: first_day..last_day).count
                 %>
            <% if scheduler_current_month_count >= 4 %>
              <td style="text-align: right">
                R$ <%= number_to_currency(scheduler.price_fixed, separator: ",", delimiter: "", format: "%n")%>
              </td>
            <% else %>
              <td style="text-align: right" id="<%=scheduler.id%>">
                R$ <%= number_to_currency(scheduler.price, separator: ",", delimiter: "", format: "%n")%>
              </td>
            <% end %>
          </tr>
          <% 
                if scheduler.repeat == true
                    subtotal_fixos_prev_month += scheduler.price
                else
                    subtotal_avulsos_prev_month += scheduler.price
                end  
            %>
        <% end %>
        <%
                mes_atual = Date.today.strftime("%m")

                ultimo_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, mes_atual.to_i, -1)
                primeiro_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, mes_atual.to_i, 1)

                today = Date.today
                next_month = today.at_beginning_of_month.next_month.strftime("%m")

                ultimo_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, next_month.to_i, -1)
                primeiro_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, next_month.to_i, 1)
                subtotal_fixos_next_month   = 0
                subtotal_avulsos_next_month = 0

                

      %>
        <% 
            prev_month = today.at_beginning_of_month.prev_month.strftime("%m")

            ultimo_dia_mes_passado = Date.civil(today.strftime("%Y").to_i, prev_month.to_i, -1)
            primeiro_dia_mes_passado = Date.civil(today.strftime("%Y").to_i, prev_month.to_i, 1)


            subtotal_prev_month   = 0

            Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_passado..ultimo_dia_mes_passado, created_at: primeiro_dia_mes_passado..ultimo_dia_mes_passado, confirm: true).each do |scheduler|
                    subtotal_prev_month += scheduler.price
            end 
        %>
        <% Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_proximo_mes..ultimo_dia_proximo_mes, confirm: true).each do |scheduler| %>
          <% 
                if scheduler.repeat == true
                    subtotal_fixos_next_month += scheduler.price
                else
                    subtotal_avulsos_next_month += scheduler.price
                end  
            %>
        <% end %>
        <% 
            subtotal_current_month = 0

            Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, created_at: primeiro_dia_mes_atual..ultimo_dia_mes_atual, confirm: true).each do |scheduler| %>
          <% 
                    subtotal_current_month += scheduler.price
                
            %>
        <% end %>
        <% total = subtotal %>
        <%

                    mes_passado = Date.today.at_beginning_of_month.prev_month.strftime("%m")
                    mes_atual = Date.today.strftime("%m")
                    mes_futuro = Date.today.at_beginning_of_month.next_month.strftime("%m")



                    # valores referentes ao mes passado
                     ultimo_dia_mes_passado = Date.civil(today.strftime("%Y").to_i, mes_passado.to_i, -1)
                     primeiro_dia_mes_passado = Date.civil(today.strftime("%Y").to_i, mes_passado.to_i, 1)
                     valor_avulso_mes_passado = 0
                     valor_fixo_mes_passado = 0
                     agendamentos_fixos_do_mes_passado = 0
                    Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_passado..ultimo_dia_mes_passado, confirm: true, repeat: false).each do |scheduler|
                        agendamentos_avulsos_do_mes_passado = Scheduler.where(user_id: user, confirm: true,date_scheduler_start: primeiro_dia_mes_passado..ultimo_dia_mes_passado, repeat: false).count 

                        if agendamentos_avulsos_do_mes_passado >= 4
                            valor_avulso_mes_passado += scheduler.price_fixed
                        else
                            valor_avulso_mes_passado += scheduler.price 
                        end
                    end     


                    Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_mes_passado..ultimo_dia_mes_passado, confirm: true, repeat: true).each do |scheduler|
                        agendamentos_fixos_do_mes_passado = Scheduler.where(user_id: user, confirm: true,date_scheduler_start: primeiro_dia_mes_passado..ultimo_dia_mes_passado, repeat: true).count 

                            valor_fixo_mes_passado += scheduler.price_fixed
                       
                    end     



                    # valores referentes ao mes atual
                     ultimo_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, mes_atual.to_i, -1)
                     primeiro_dia_mes_atual = Date.civil(today.strftime("%Y").to_i, mes_atual.to_i, 1)
                     valor_avulso_mes_atual = 0
                     valor_fixo_mes_atual = 0
                     agendamentos_avulsos_do_mes_atual = 0 
                      agendamentos_avulsos_do_mes_atual = Scheduler.where(user_id: 2, confirm: true,date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, repeat: false).count 
                      agendamentos_do_mes_atual = Scheduler.where(user_id: 2, confirm: true,date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual).count 
                    Scheduler.where(user_id: 2, date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, confirm: true, repeat: false).each do |scheduler|
                       
                        if agendamentos_do_mes_atual >= 4
                            valor_avulso_mes_atual += scheduler.price_fixed
                        else
                            valor_avulso_mes_atual += scheduler.price 
                        end
                    end     

                    Scheduler.where(user_id: 2, date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, confirm: true, repeat: true).each do |scheduler|
                        agendamentos_fixos_do_mes_atual = Scheduler.where(user_id: 2, confirm: true,date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_mes_atual, repeat: true).count 

                            valor_fixo_mes_atual += scheduler.price_fixed
                       
                    end     


                    # valores referentes ao próximo mes
                ultimo_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, mes_futuro.to_i, -1)
                primeiro_dia_proximo_mes = Date.civil(today.strftime("%Y").to_i, mes_futuro.to_i, 1)
                valor_fixo_mes_seguinte = 0
                total_fixo_mes_atual_mes_seguinte = 0

                    Scheduler.where(user_id: user, date_scheduler_start: primeiro_dia_proximo_mes..ultimo_dia_proximo_mes, confirm: true, repeat: true).each do |scheduler|
                        valor_fixo_mes_seguinte  += scheduler.price_fixed
                    end    
                    total_fixo_mes_atual_mes_seguinte = valor_fixo_mes_seguinte + valor_fixo_mes_atual


                #total somando avulsos mês atual e fixos do mês seguinte
                total_para_pagar_antes_de_iniciar_mes = 0
                total_para_pagar_antes_de_iniciar_mes = total_fixo_mes_atual_mes_seguinte + valor_avulso_mes_passado

                #subtotal da tabela
                subtotal_da_tabela = 0 
                (todos_mes_atual).each do |scheduler| 

                    scheduler_current_month_count = Scheduler.where(user_id: user, confirm: true,date_scheduler_start: primeiro_dia_mes_atual..ultimo_dia_proximo_mes).count


                    if scheduler_current_month_count >= 4
                        subtotal_da_tabela += scheduler.price_fixed
                    else                 
                        subtotal_da_tabela += scheduler.price
                    end
                end



                
                 %>
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Subtotal</td>
          <td style="text-align: right;font-weight: bold">R$
            <%= number_to_currency(subtotal_da_tabela, separator: ",", delimiter: "", format: "%n")%>
          </td>
        </tr>
        <tr></tr>
        <!--<tr>
                    <td colspan="8" style="font-weight: bold;text-align: center;">Valor pago previamente no mês passado (
                        <%= I18n.l(today.at_beginning_of_month.prev_month, format: '%B') %>) - [FIXOS]</td>
                    <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="value01" class="form-control" value="R$ <%= number_to_currency(valor_fixo_mes_passado, separator: ",", delimiter: "" , format: "%n" )%>"></td>
                </tr>
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Valor adicional utilizado durante o mês passado (
            <%= I18n.l(today.at_beginning_of_month.prev_month, format: '%B') %>) [EXTRAS]</td>
          <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="value02" class="form-control" value="R$ <%= number_to_currency(valor_avulso_mes_passado, separator: ",", delimiter: "" , format: "%n" )%>"></td>
        </tr>-->
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Valor utilizado no mês (
            <%= I18n.l(today.at_beginning_of_month, format: '%B') %>) [AVULSOS]</td>
          <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="value03" class="form-control" value="R$ <%= number_to_currency(valor_avulso_mes_atual, separator: ",", delimiter: "" , format: "%n" )%>"></td>
        </tr>
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Valor à ser pago referente ao mês  (
            <%= I18n.l(today.at_beginning_of_month.next_month, format: '%B') %>) [FIXOS]</td>
          <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="value04" class="form-control" value="R$ <%= number_to_currency(total_fixo_mes_atual_mes_seguinte, separator: ",", delimiter: "" , format: "%n" )%>"></td>
        </tr>
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Desconto</td>
          <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="discount" class="form-control" value="R$ 0,00"></td>
        </tr>
        <tr>
          <td colspan="8" style="font-weight: bold;text-align: center;">Total[Valor Boleto]</td>
          <td style="text-align: right;font-weight: bold;text-align: right;"><input type="text" id="total" class="form-control" value="R$ <%= number_to_currency(subtotal_da_tabela, separator: ",", delimiter: "" , format: "%n" )%>" disabled></td>
        </tr>
        <tr>
          <td colspan="8"></td>
          <td>
            <button class="btn btn-primary no-print " onclick="calcSum()" style="margin-bottom: 20px;width: 100%;border-radius: 0px;"><i class="fas fa-calculator"></i> Calcular </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  function calcSum() {
      let value01 = document.getElementById('value01').value;
      value01 = value01.replace("R$ ", "");
      value01 = value01.replace(",", ".");
      value01 = parseFloat(value01);
      console.log(value01);
  
      let value02 = document.getElementById('value02').value;
      value02 = value02.replace("R$ ", "");
      value02 = value02.replace(",", ".");
      value02 = parseFloat(value02);
      console.log(value02);
  
      let value03 = document.getElementById('value03').value;
      value03 = value03.replace("R$ ", "");
      value03 = value03.replace(",", ".");
      value03 = parseFloat(value03);
      console.log(value03);
  
      let value04 = document.getElementById('value04').value;
      value04 = value04.replace("R$ ", "");
      value04 = value04.replace(",", ".");
      value04 = parseFloat(value04);
      console.log(value04);
  
      let discount = document.getElementById('discount').value;
      discount = discount.replace("R$ ", "");
      discount = discount.replace(",", ".");
      discount = parseFloat(discount);
      console.log(discount);
  
      let subtotal = Number(value02) + Number(value03) + Number(value04);
      let descontar = Number(value01) + Number(discount);
      let total = subtotal - descontar;
      rs = "R$ ";
      centavos = ",00";
  
      document.getElementById('total').value = rs.concat(total, centavos);
      console.log(total);
  
  }
</script>
