<div class="col-md-12 pull-left">
  <h3 class="mb20 mt20">Agendamentos não confirmados</h3>
</div>
<div id="dataTable-firstdesc_wrapper" class="dataTables_wrapper no-footer">
  <table class="dataTable no-footer" id="dataTable-firstdesc" role="grid" aria-describedby="dataTable-firstdesc_info" style="width: 1055px;">
    <thead>
      <tr class="bg-primary" role="row">
        <!--<th style="width: 43px;" class="sorting_desc" tabindex="0"  rowspan="1" colspan="1" aria-sort="descending" aria-label="ID: activate to sort column ascending">ID</th>-->
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Ano: activate to sort column ascending" style="width: 43px;">Mês</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Sala: activate to sort column ascending" style="width: 54px;">Sala</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Dia da semana: activate to sort column ascending" style="width: 146px;">Dia da semana</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Horário de Inicio: activate to sort column ascending" style="width: 146px;">Horário de Inicio</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Horário de Término: activate to sort column ascending" style="width: 146px;">Horário de Término</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Preço: activate to sort column ascending" style="width: 81px;">Preço</th>
        <th class="sorting" tabindex="0"  rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 200px;">Status</th>
        <th style="width: 81px;" colspan="1">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% today = Date.today  %>
      <% 

                  #if current_user.profile_id == 1
                  #  mes_final = Month.where(status: true, year_id: 1).last
                  #else
                    mes_final = Month.where(status: true, year_id: 1).last
                  #end

                  
                  if mes_final.number < 10
                    numero_mes_final = '0' + mes_final.number.to_s 
                  else
                    numero_mes_final = mes_final.number.to_s
                  end

                  ultimo_dia_mes = Date.civil(mes_final.year.name, numero_mes_final.to_i, -1)
                %>
      <% mes_final_consulta = mes_final.id.to_i + 1 %>
      <% old_elemento = '' %>
      <% Scheduler.where(user_id: current_user.id, confirm: false, month_id: mes_final).order(created_at: :asc).each do |scheduler| %>
        <% elemento = "#{scheduler.date_scheduler_start.year}#{scheduler.date_scheduler_start.month}#{scheduler.date_scheduler_start.wday}#{scheduler.time_scheduler_start}#{scheduler.room.id}" %>
        <% if elemento == old_elemento %>
          <tr role="row" class="odd scheduler-tr <%= "class-#{elemento}" %>" style="display:none">
          <% else  %>
            <% old_elemento = elemento  %>
            <tr role="row" class="odd scheduler-tr <%= "class-#{elemento}" %>">
            <% end%>
            <td>
              <%= I18n.l(scheduler.date_scheduler_start, format: '%B') %>
            </td>
            <td><%= scheduler.room.name %></td>
            <td>
              <%= I18n.l(scheduler.date_scheduler_start, format: '%A') %>
            </td>
            <td><%= scheduler.time_scheduler_start %>h</td>
            <td><%= scheduler.time_scheduler_start.to_i + 1 %>h</td>
            <%
                  first_day = Date.civil(scheduler.date_scheduler_start.strftime("%Y").to_i, scheduler.date_scheduler_start.strftime("%m").to_i, 1)
                  last_day = Date.civil(scheduler.date_scheduler_start.strftime("%Y").to_i, scheduler.date_scheduler_start.strftime("%m").to_i, -1)

                 scheduler_current_month_count = Scheduler.where(user_id: current_user.id,date_scheduler_start: first_day..last_day).count
                 %>
            <% if scheduler_current_month_count >= 4 %>
              <td>R$<%= number_to_currency(scheduler.price_fixed, separator: ",", delimiter: "", format: "%n")%></td>
            <% else %>
              <td>R$<%= number_to_currency(scheduler.price, separator: ",", delimiter: "", format: "%n")%></td>
            <% end %>
            <td><%= scheduler.status %></td>
            <td><%= link_to 'Editar', edit_scheduler_path(scheduler) %></td>
            <%# else %>
            <!--<td></td>
                <td><%= link_to 'Cancelar', scheduler, method: :delete, data: { confirm: 'Tem certeza?' } %></td>-->
            <%#end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
