<% if !current_user.admin? %>
<script type="text/javascript">
    window.location.replace("/");
</script>
<% end %>
<% if notice %>
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p id="notice">
        <%= notice %>
    </p>
</div>
<% end %>
<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Agendamentos de todos os usuários</h3>
</div>
<div class="col-md-12 pull-left">
    <%= link_to 'Novo agendamento', new_scheduler_path, :class =>  "btn btn-secondary buttons-copy buttons-html5"  %>
</div>
<div class="topsubmenu text-center">

    <button class="btn btn-lg btn-primary" id="btn-agenda-livre">Agenda Livre</button>
</div>

<% livre = params[:week_free] %>
<style type="text/css">

#container-agenda-semana-livre {
    display: block;
}

</style>

                <% 
                    week_today = Date.today.strftime("%W").to_i 
                    mes_ativado = Month.where(status: true, year_id: 1).last
                    mes_ativado.number.to_s + '-' + mes_ativado.year.name.to_s
                    ultimo_dia_do_mes_ativo = Date.civil(mes_ativado.year.name, mes_ativado.number, -1)
                    ultima_semana = ultimo_dia_do_mes_ativo.strftime("%W").to_i
                    hoje = ultima_semana - week_today 
                    semana_hoje = hoje * 7
                %>
                <% week = params[:week] %>
                <% btnNext = week.to_i + 7%>
                <% btnprevious = week.to_i - 7%>
                <% Date.today.strftime("%W").to_i %>
                <% today = Date.today + week.to_i %>
                <% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }%>
                <% segunda  =  @days_from_this_week[0]%>
                <% terca    =  @days_from_this_week[1]%>
                <% quarta   =  @days_from_this_week[2]%>
                <% quinta   =  @days_from_this_week[3]%>
                <% sexta    =  @days_from_this_week[4]%>
                <% sabado   =  @days_from_this_week[5]%>
                <% domingo  =  @days_from_this_week[6]%>

<div id="container-agenda-semana-livre" style="display: block;">
    <div class="padded-lg calendario-semanal" id="container-agenda">
        <div class="calendar-week container">
            <div class="text-center mb30 row">
                <div class="col-md-3">
                    <% week = params[:week_free] %>
                    <% btnNext = week.to_i + 7%>
                    <% btnprevious = week.to_i - 7%>
                    <a href="?week_free=<%= btnprevious %>" class="btn btn-success" id="btn-semana-anterior"><i class="fa fa-chevron-left"></i> &nbsp; Anterior</a>
                </div>
                <% today = Date.today + week.to_i %>
                <% @days_from_this_week = (today.at_beginning_of_week..today.at_end_of_week).map.each { |day| day }%>
                <% segunda  =  @days_from_this_week[0]%>
                <% terca    =  @days_from_this_week[1]%>
                <% quarta   =  @days_from_this_week[2]%>
                <% quinta   =  @days_from_this_week[3]%>
                <% sexta    =  @days_from_this_week[4]%>
                <% sabado   =  @days_from_this_week[5]%>
                <% domingo  =  @days_from_this_week[6]%>
                <div class="col-md-6"><h3><%= I18n.l(today.at_beginning_of_week, :locale => 'pt-BR') %> - <%= I18n.l(today.at_end_of_week, :locale => 'pt-BR') %></h3>
                </div>
                <div class="col-md-3">
                    <% if btnNext.to_i > semana_hoje.to_i %>
                    <a href="?week_free=<%= btnNext%>" class="btn btn-success" id="btn-semana-proxima" disabled>
                        Próximo &nbsp; <i class="fa fa-chevron-right"></i>
                    </a>
                    <% else %>
                    <a href="?week_free=<%= btnNext%>" class="btn btn-success" id="btn-semana-proxima">
                        Próximo &nbsp; <i class="fa fa-chevron-right"></i>
                    </a>
                    <% end %>
                </div>
            </div>
            <div class="weekdays">
                <div>
                    <div class="weekday weekday-hour">
                        <h5 class="mt15">Horário</h5>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Seg<%= @days_from_this_week[0].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Ter<%= @days_from_this_week[1].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Qua<%= @days_from_this_week[2].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Qui<%= @days_from_this_week[3].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Sex<%= @days_from_this_week[4].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Sab<%= @days_from_this_week[5].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                    <div class="weekday">
                        <h5 class="mb10 mt10">Dom<%= @days_from_this_week[6].strftime("(%d)")%></h5>
                        <div class="header-salas-cores">
                            <div class="sala-cor agua">água</div>
                            <div class="sala-cor terra">terra</div>
                            <div class="sala-cor fogo">fogo</div>
                            <div class="sala-cor ar">ar</div>
                        </div>
                    </div>
                </div>
            </div>
            <%  timerow = 7 %>

                    <% 
                        hour_count = timerow
                        for hour_count in timerow..21 do
                    %>
                <div class="timerow <%= timerow%>">
                        <div class="weekday-block weekday-hour"><%= hour_count %>h</div>
                        <div data-hour="<%= hour_count %>" class="weekday-seg weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                                <% scheduler_count = Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= segunda %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= segunda %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= segunda %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: segunda, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= segunda %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>
                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-ter weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                                <% scheduler_count = Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= terca %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= terca %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= terca %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: terca, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= terca %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>
                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-qua weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                            
                                
                                <% scheduler_count = Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quarta %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quarta %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quarta %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quarta, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quarta %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-qui weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                            
                               
                                <% scheduler_count = Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quinta %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quinta %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quinta %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: quinta, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= quinta %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-sex weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                            
                                
                                <% scheduler_count = Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sexta %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sexta %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sexta %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sexta, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sexta %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-sab weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                            
                                
                                <% scheduler_count = Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sabado %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sabado %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sabado %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: sabado, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= sabado %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                            </div>
                        </div>
                        <div data-hour="<%= hour_count %>" class="weekday-dom weekday-block" style="padding:0px;">
                            <div class="header-salas-cores" data-horario="<%= hour_count %>">
                            
                                
                                <% scheduler_count = Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 1).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 1).each do |scheduler| %>
                                        <div class="sala-cor agua" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= domingo %>&hour=<%= hour_count %>&room=1"><div class="sala-cor agua 1-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 2).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 2).each do |scheduler| %>
                                        <div class="sala-cor terra" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= domingo %>&hour=<%= hour_count %>&room=2"><div class="sala-cor terra 2-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-left: solid 1px #666;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 3).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 3).each do |scheduler| %>
                                        <div class="sala-cor fogo" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= domingo %>&hour=<%= hour_count %>&room=3"><div class="sala-cor fogo 3-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;border-right: solid 1px #666"></div></a>
                                <% end #end if scheduler_count%>

                                <% scheduler_count = Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 4).count %>
                                <% if scheduler_count == 1 %>
                                    <% Scheduler.where(date_scheduler_start: domingo, time_scheduler_start: hour_count, confirm: true, room_id: 4).each do |scheduler| %>
                                        <div class="sala-cor ar" style="height: 88px;line-height: 0px;/*line-height: 88px;*/margin-top:1px;padding: 2px;">
                                            <a href="/schedulers/<%= scheduler.id %>/edit" style="color: #fff;font-size: 12px;writing-mode: tb-rl;text-align: center;line-height: 100%;"><%= scheduler.user.name %></a>
                                        </div>
                                    <% end #end where Scheduler%>
                                <% else %>
                                    <a href="/schedulers/new?day=<%= domingo %>&hour=<%= hour_count %>&room=4"><div class="sala-cor ar 4-else" style="height: 90px;line-height: 0px;/*line-height: 90px;*/background:transparent;"></div></a>
                                <% end #end if scheduler_count%>

                            </div>
                        </div>
                        </div>
                <% timerow += 1 %>
            <% end #end for timerow%>
        </div>
    </div>
</div>