<div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w">
        <div class="logo-w">
            <img alt="" src="http://locusvivet.com.br/agendamento/app/_resources/images/login/logo.png" style="width: 100%;">
                </div>
            <h4 class="auth-header">
                    Sistema de Agendamento
                </h4>
            <div id="form-login">
                <div style="text-align: center;background: #e76e25;color: #fff;">
                    
                <% flash.each do |name, msg| %>

                  <% if msg.class == Array %>
                    <% msg.each do |message| %>
                      <%= content_tag :div, message, :id => "flash_#{name}" %>
                    <% end %>
                  <% else %>

                    <%= content_tag :div, msg, :id => "flash_#{name}" %>

                  <% end %> 
                <% end %>
                </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="form-group">
                    <%= f.label :email, "E-mail" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-user-male-circle"></div>
                </div>
                <div class="form-group">
                    <%= f.label :password, "Senha"  %>
                    <%= f.password_field :password, autocomplete: "current-password" , :class => "form-control" %>
                    <div class="pre-icon os-icon os-icon-fingerprint"></div>
                </div>
                <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me, "Lembre de mim" %>
                </div>
                <% end -%>
            <div class="buttons-w text-center">
                <button class="btn btn-primary btn-block text-uppercase" type="submit">Entrar</button>
            </div>
            <% end %>
            </div>
            <div style="text-align: center;">
                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>