<%= form_with(model: price, local: true) do |form| %>
  <% if price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :price_name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :price_value %>
  </div>

  <div class="field">
    <%= form.label :start %>
    <%= form.number_field :start, id: :price_start %>
  </div>

  <div class="field">
    <%= form.label :end %>
    <%= form.number_field :end, id: :price_end %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id, id: :price_profile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
