<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @price.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Start:</strong>
  <%= @price.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @price.end %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @price.profile %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
