<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-room">
<div class="col-md-12">
  <div class="form-group">
    <%= form.label :name, "Nome da sala" %>
    <%= form.text_field :name, id: :room_name, :class => "form-control" %>
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, id: :room_description , :class => "form-control" %>
  </div>
</div>
<div class="col-md-12">

  <div class="form-group">
    <%= form.label :color, "Cor (hexadecimal, ex: #286AF7)" %>
    <%= form.text_field :color, id: :room_color , :class => "form-control" %>
  </div>
</div>
<div class="col-md-12">

  <div class="form-group">
    <%= form.label :status, "Status" %>
    <%= form.select(:room_status, options_for_select([['Ativada', true], ['Desativada', false]]),  {:prompt => "Selecione"}, {:class => 'form-control'} )%>
  </div>
</div>
<div class="col-md-12">

  <div class="actions">
    <button class="btn btn-primary btn-lg" type="submit">Salvar</button>
  </div>
</div>
</div>
<% end %>
