<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Editando sala</h3>
</div>
<div class="col-md-12 pull-left">
    <%= link_to 'Voltar', rooms_path %>
</div>
<%= render 'form', room: @room %>


