<% if notice %>
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p id="notice">
  <%= notice %>
  </p>
</div>
<% end %>
<div class="col-md-12 pull-left">
    <h3 class="mb20 mt20">Salas</h3>
</div>
<div class="col-md-12 pull-left">
    <%= link_to 'Nova sala', new_room_path, :class =>  "btn btn-secondary buttons-copy buttons-html5"  %>
</div>
<table class="dataTable no-footer" id="dataTable-firstdesc" role="grid" aria-describedby="dataTable-firstdesc_info" style="width: 1320px;">
    <thead>
        <tr class="bg-primary" role="row">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Cor</th>
            <th>Status</th>
            <th colspan="2">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @rooms.each do |room| %>
        <tr role="row" class="odd">
            <td>
                <%= room.id %>
            </td>
            <td>
                <%= room.name %>
            </td>
            <td>
                <%= room.description %>
            </td>
            <td style="background: <%= room.color %>">
                
            </td>
            <td>
                <% if room.status == true %>
                Ativada
                <% else %>
                Desativada
                
                <% end %>
            </td>
            <td>
                <%= link_to 'Editar', edit_room_path(room) %>
            </td>
            <td>
                <%= link_to 'Apagar', room, method: :delete, data: { confirm: 'Tem certeza?' } %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>