/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";

#error_explanation {
    width: 450px;
    border: 2px solid #E76E25;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #E76E25;
    color: #fff;
}
.field_with_errors {
    background-color: #E76E25 !important;
    display: flex;
    color: #fff;
}
.field_with_errors label {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.timerow .weekday-block {
    cursor: default;
}
.sala-cor {
    cursor: pointer;
}
.header-salas-cores .sala-cor {
    color: #fff;
    height: 20px;
    font-size: 10px;
    padding: 2px;
    font-weight: normal;
    text-transform: uppercase;
}