// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn{
	color: #fff !important;
}
td {
    text-align: left;
}
.pull-left{
	float: left !important;
	text-align: left;
}
.pull-right{
	float: right !important;
	text-align: right;
}
th {
    color: #fff;
}
.form-room{
	float: left !important;
	text-align: left;
	
}
.alert{
    width: 50%;
    height: 100px;
}