<!DOCTYPE html>
<html>

<head>
    <title>Locus Vivet | Aluguel de salas comerciais por hora</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <%= favicon_link_tag asset_path('favicon.png') %>
</head>
<style type="text/css">
#error_explanation {
    width: 450px;
    border: 2px solid #E76E25;
    padding: 7px 7px 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #E76E25;
    color: #fff;
}

.field_with_errors {
    background-color: #E76E25 !important;
    display: flex;
    color: #fff;
}

.field_with_errors label {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
</style>
<% if user_signed_in? %>

<body>
    <style type="text/css">
    .sala-cor.ar-invert {
        border: solid 1px #cccccc;
        color: #cccccc;
        background: transparent;
    }

    .sala-cor.fogo-invert {
        border: solid 1px #FD1919;
        color: #FD1919;
        background: transparent;
    }

    .sala-cor.terra-invert {
        border: solid 1px #479161;
        color: #479161;
        background: transparent;
    }

    .sala-cor.agua-invert {
        border: solid 1px #286AF7;
        color: #286AF7;
        background: transparent;
    }
    </style>
    <% if !current_user.active? %>
    <h1 style="text-align: center;padding: 20%">Seu usuário ainda não está ativado. Entre em contato com o administrador</h1>
    <% else %>
    <div class="all-wrapper menu-side">
        <div class="layout-w">
            <div class="desktop-menu menu-side-compact-w menu-activated-on-hover color-scheme-dark">
                <div class="logo-w">
                    <% if !current_user.admin? %>
                    <a class="logo" href="/schedulers/"><img src="http://locusvivet.com.br/agendamento/app/_resources/images/default/logo-branco-icone.png"></a>
                    <% else %>
                    <a class="logo" href="/pages/schedulers/"><img src="http://locusvivet.com.br/agendamento/app/_resources/images/default/logo-branco-icone.png"></a>
                    <% end %>
                </div>
                <div class="menu-and-user">
                    <ul class="main-menu">
                        <!-- <li class="thispage" data-toggle="tooltip" title="" data-placement="right" data-original-title="Salas">
                            <a href="/rooms">
                                <div class="icon-w">
                                    <i class="fas fa-warehouse"></i>
                                </div>
                            </a>
                        </li>-->
                        <% if !current_user.admin? %>
                        <li class="<%= 'thispage' if current_page?('/schedulers')  %>" data-toggle="tooltip" title="" data-placement="right" data-original-title="Salas">
                            <a href="/schedulers/">
                                <div class="icon-w">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </a>
                        </li>
                        <li class="<%= 'thispage' if current_page?('/pages/reserved')  %>" data-toggle="tooltip" title="" data-placement="right" data-original-title="Agendamentos não confirmados">
                            <a href="/pages/reserved">
                                <div class="icon-w">
                                    <i class="fa fa-history"></i>
                                </div>
                            </a>
                        </li>
                        <li class="<%= 'thispage' if current_page?('/pages/confirmed')  %>" data-toggle="tooltip" title="" data-placement="right" data-original-title="Agendamentos não confirmados">
                            <a href="/pages/confirmed">
                                <div class="icon-w">
                                    <i class="fa fa-money"></i>
                                </div>
                            </a>
                        </li>
                        <!--<li data-toggle="tooltip" title="" data-placement="right" data-original-title="Histórico de Agendamentos">
                            <a href="/pages/history">
                    <div class="icon-w">
                        <i class="fa fa-history"></i>
                    </div>
                </a>
                        </li>
                        <li data-toggle="tooltip" title="" data-placement="right" data-original-title="notificações">
                            <a href="/notifications">
                                <div class="icon-w">
                                    <i class="fas fa-comment"></i>
                                </div>
                            </a>
                        </li>-->
                        <% else %>
                        <li class="<%= 'thispage' if current_page?('/pages/schedulers/')  %>" data-toggle="tooltip" title="" data-placement="right" data-original-title="Salas">
                            <a href="/pages/schedulers/">
                                <div class="icon-w">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="" data-placement="right" data-original-title="Salas">
                            <a href="/console">
                                <div class="icon-w">
                                    <i class="fas fa-tools"></i>
                                </div>
                            </a>
                        </li>
                        <li class="<%= 'thispage' if current_page?('/pages/reports/')  %>" data-toggle="tooltip" title="" data-placement="right" data-original-title="Salas">
                            <a href="/pages/reports/">
                                <div class="icon-w">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </a>
                        </li>
                        <!--<li data-toggle="tooltip" title="" data-placement="right" data-original-title="Agendamentos não confirmados">
                            <a href="/pages/reserved">
                                <div class="icon-w">
                                    <i class="fa fa-history"></i>
                                </div>
                            </a>
                        </li>-->
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="content-w">
                <div class="top-menu-secondary">
                    <h5 id="page-title">Agendamentos</h5>
                    <% profile_id =  current_user.profile_id %>
                    <% profile_name =  current_user.profile.name %>
                    <% if profile_id == 1 %>
                    <h6 id="notice" style="padding-left: 100px; font-size: 12px;">
                        Você está com perfil de cliente promocional
                    </h6>
                    <% end %>
                    <div class="top-menu-controls">
                        <div class="logged-user-w" id="user_modal">
                            <div class="logged-user-i">
                                <div class="avatar-w">
                                    <p>
                                        <%= current_user.email %>&nbsp; <i class="fa fa-chevron-down"></i></p>
                                </div>
                                <div class="logged-user-menu" id="user_menu">
                                    <div class="logged-user-avatar-info">
                                        <div class="logged-user-info-w">
                                            <div class="logged-user-name">
                                                <%= current_user.name %>
                                            </div>
                                            <div class="logged-user-role">
                                                Cliente
                                                <%= profile_name %>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bg-icon">
                                        <i class="fa fa-cogs"></i>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="/users/edit"><i class="fa fa-edit"></i><span>Dados da conta</span></a>
                                        </li>
                                        <li>
                                            <%= link_to  destroy_user_session_path, method: :delete do %>
                                            <i class="fa fa-power-off"></i><span>Sair</span>
                                            <% end %>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-i">
                    <div class="content-box" style="padding: 0 !important;">
                        <div class="row" style="margin: 0 !important;">
                            <div class="col-lg-12" style="padding: 0 !important;">
                                <div class="padded-lg" id="container-agenda">
                                    <div class="calendar-week container">
                                        <div class="text-center mb30 row">
                                            <div class="container">
                                                <div class="row user-data">
                                                    <%= yield %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $('#user_modal').click(function() {
        $('#user_menu').css({
            'opacity': '1',
            'overflow': 'visible',
            'visibility': 'visible'
        });
    });
    </script>
    <style type="text/css">
    .weekdays-fixed {
        position: fixed;
        top: 0
    }
    </style>
    <script type="text/javascript">
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= 300) {
            $(".weekdays").addClass("weekdays-fixed");
        } else {
            $(".weekdays").removeClass("weekdays-fixed");
        }
    });
    </script>
    <% end %>
</body>
<% else %>

<body class="auth-wrapper">
    <%= yield %>
</body>
<% end %>

</html>